@import './variables.scss';




html, body, #root {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    overflow-x: hidden;
}




.text-dark-gray {
    color: $primary-dark-gray;
}
.text-blue {
    color: $primary-blue;
}
.text-gray {
    color: $primary-light-gray;
}
.text-marroon {
    color: #800000;
}
.text-hover-blue:hover {
    color: $primary-blue;
}





.full-view-height {
    height: 100vh;
}

.three-quarter-view-height {
    height: 75vh;
}

li {
    list-style: square;
    color: $primary-blue;
}

.bold {
    font-weight: 600;
}

.spacer {
    border-top: 1px solid $primary-dark-gray;
}

.blue-bottom-border {
    border-bottom: 1px solid $dim-primary-blue;
}

.button-dark {
    border: 1px solid $primary-blue;
    border-radius: 7px;
    color: $primary-blue;
    background-color: transparent;
    transition-duration: 300ms;
    padding: 0 20px 0 20px;
}

.button-dark:hover {
    background-color: $dim-primary-blue;
    transition-duration: 300ms;
    padding: 0 20px 0 20px;
}

.test {
    border: 1px solid red;
}